@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

html{
    box-sizing: border-box;
    font-size: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow-y: hidden;
}

a {
    text-decoration: none;
    color: black
}

ul{
    list-style-type: none;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-elements{
    display: flex;
}

.nav-elements * {
    margin: 0 7px;
}

.top-right{
    display: flex;
    justify-content: flex-end; 
}

.bottom-right{
    display: flex;
    justify-content: flex-end;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo_google{
    width: 300px;
}

.perfil {
    background-color: purple;
    box-sizing: content-box;
    width: 30px;
    height: 30px;
    border-radius: 999px;
}

.perfil a{
    color: white;

}